.tt {

}

.tt-content {

    font: 12px Arial, Helvetica;
    text-align: center;
    border-color: #aaa #555 #555 #aaa;
    border-style: solid;
    border-width: 1px;
   z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
    background-color: #fff;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(255,255,255,0));
    box-shadow: 1px 1px 0 #555,
                2px 2px 0 #555,
                3px 3px 1px rgba(0, 0, 0, .3),
                0   1px 0   rgba(255,255,255, .5) inset;
    transition: bottom .2s ease, opacity .2s ease;
    }

.tt:hover .tt-content{
    display:inline; position:absolute;
}
.collapse:hover {
background-color:red; 
}

 /*
.tt-content {
	 display:none;
}
.tt:hover .tt-content{
    display:block; position:absolute;
}
*/
